*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: antiquewhite;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    margin:1rem;
    justify-content: flex-end;
    list-style-type: none;
    
    
}

ul li {
    padding: 2rem;
    
    
}

a:hover{
    color:rgb(90, 78, 78);
    transition:cubic-bezier(0.23, 1, 0.320, 1);
    
}

a{
    text-decoration: none;
   
    font-size: 3vh;
}

.content {
    margin: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content > p {
    font-size: large            ;
}

.content > button {
    border-color: aliceblue;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: solid;
    transition: calc(1s);
}